.custom-gradient {
    background: #0652C5;
    background: repeating-linear-gradient(to right, #0652C5 0%, #D4418E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }


  .tilt-left {
    transform: rotate(-15deg);
    transition: transform 0.5s ease;
    transform-origin: bottom right;

  }

  .tilt-right {
    transform: rotate(15deg); /* Adjust rotation for a right tilt */
    transition: transform 0.5s ease;
    transform-origin: bottom left; /* Adjust origin for a proper tilt */
}

 
.card {
 
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #6A2C70;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #6A2C70;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #fff;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #Fff;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}
