.custom-gradient {
    background: #0652C5;
    background: repeating-linear-gradient(to right, #0652C5 0%, #D4418E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }


  .tilt-left {
    transform: rotate(-15deg);
    transition: transform 0.5s ease;
    transform-origin: bottom right;

  }

  .tilt-right {
    transform: rotate(15deg); /* Adjust rotation for a right tilt */
    transition: transform 0.5s ease;
    transform-origin: bottom left; /* Adjust origin for a proper tilt */
}

 